*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(0, 73, 0);
    color: white;
}
.dealer{
    text-align: center;
    color: black;
}
.players{
    display: flex;
    justify-content: space-evenly;
    color: black
}
.hand{
    display: inline-block;
    width: 63px;
    height: 88px;
}
.card{
    box-shadow: 2px 2px 2px;
    border: 1px solid black;
    border-radius: 5%;
}
.buttons{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 20%;
}
.textoutput{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 10%;
}
.deck{
    box-shadow: 2px 2px 2px;
    color: black;
    border: 1px solid black;
    border-radius: 5%;
    position: fixed;
    right: 10%;
    top: 5%;
}